.social-icon {
    display: grid;
    place-items: center;
    height: 48px;
    width: 48px;
    border: 2px solid;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    transition: all .5s;
    gap: 20px;
}

.social-icon:hover {
    background-color: #CF09A4;
    border: 2px solid #CF09A4;
}